@import url('https://fonts.cdnfonts.com/css/elowen');
h1{
    font-family: 'Elowen', sans-serif;
    text-align: center;
    color: #af6e31;
} /* toda h1 vai ter essa fonte */ 
/*text aling ceter mantém no meio*/
body{
    background-color: #fef8cd;  /*cor do fundo*/
    margin: 0;
}
.logo{
    width: 100%;
    zoom: 1.2;
}
div{
    width: 75%; /*largura do quadro branco*/
    padding: 5%; /* tamanho do quadro branco */
    background-color: white; /*cor do quadro*/
    margin: 0 auto;  /*para centralizar*/
    border-radius: 15px; /*arredondar bordas*/
    /* border: 2px solid black; */
    box-shadow: 0 2px 11px rgb(214, 218, 177); /*sombra e cor da sombra*/
}
    p{
        margin-bottom: 8%; /*distanciada nos quadros*/
    }